body{
    position: relative;
    margin: 0%;
}
.menu{
    position:sticky ;
    top: 0px;
    width: 100vw;
  background-color: #2a4e;
  box-shadow: 0rem .5rem .8rem#0008;
  text-align: center;
  text-transform: uppercase;
  border: .1rem solid #0f08;
  min-width: 35rem;
  font-size: 1.1rem;
  
    
    
    
}

.menu__item {
    display: inline-block;
    background-color: #0a01;
    list-style: none;
    
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    margin:0 3px;
    
}
.item__link{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.item--login {
    /*
    margin-left: 100px;
    esto es para cuando no uso position relative
    */
    background-color: #0002;
    border-radius: 10px;
    font-size: 1.2rem;
    
    color:white;
    padding: 10px;
    margin-left: 5rem;
    
}
.link--login{
    color:white
}

.menu__item:hover{
    box-shadow: .0rem 0rem 1rem #0f05;
    outline: .1rem solid #0f0f;
    background-color: #0f09;
    color: #000f;
    
}


.menu__item:active{
    
    background-color: #0a07;
}


.texto{
    transition-duration: 1s;
    transition-property: color;
    text-align: centerr;
    word-spacing: 10px;
    padding: 1.5rem;
    font-size: xx-large;
    text-wrap: pretty;
    color: #000a;
    
}

.caja{
    width: 100vw;
    height: 150px;
    background-color: red;
}
h1{
    display: inline-block;
    left: 10px;
    top: 10px;
    bottom: 0px;
    align-content: center;
    text-align: center;

    width: 50vw;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    box-shadow: 0px 0px 40px  #000;
    top: -100px;
    background:linear-gradient(to left, #0f01, #080e);

    transition-property: color;
    transition-duration: 1s;    
    
}

.texto:hover{
    color:#000f;
}
