
body{
    border: solid rebeccapurple 4px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
min-height: 100vh;    
}

ul{
    list-style: none;
    padding: 0;
    
}


.menu__principal{
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    
}
    
.menu__principal li{
    background-color: green;
    flex-grow: 1;
    text-align: center;
    
}
.menu__principal a{
    text-decoration: none;
    color: white;

}

.div__main{
    margin-right: 10px;
    margin-left: 10px;

    display:flex;
    align-items: start;
    
    flex-grow: 1;
    gap: 20px;
    
    
}
aside,main{
    flex-wrap: 1;
    
}

.menu__lateral ul{
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: start;
    gap: 30px;;
}
.menu__lateral  li {
    flex-shrink: 0;
    flex-flow: 1;
    flex-basis: 0;
        
}
.menu__lateral  a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}
footer{
    border:solid 2px green;
    text-align: center;
}




@media screen and (max-width:640px) {
    .div__main{flex-direction: column;}
    .menu__principal{ flex-direction: column;}
}

 a:hover {
color:red;  
}